.content {
    max-width: 10%;
    margin: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.field {
    height: 50px;
    width: 500px;
    font-size: 20pt;
    text-align: left;
}

.field-header {
    margin:auto;
    font-size: 15pt;
    padding-bottom: 5px;
}

.header {
    padding-left: 50%;
    max-width: 100%;
    font-size: 30pt;
}